html {
    margin: 0;
    font-size: 62.5%; //10px
    font-family: 'Noto Sans TC', sans-serif;
}

.LoginForm {
    display: flex;

    &__input {
        border-radius: 5px;
        font-size: 2rem;
    }

    &__label {
        margin:1rem;
    }

    &__submit {
        border-radius: 5px;
        color: white;
        margin: 0rem 1rem;
        background: #0F2027;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
}

.Navigation {
    display: flex;
    justify-content: center;

    &__item {
        border-radius: 5px;
        background-color: sandybrown;
        padding: 1rem;
        display: flex;
        align-items: center;
        margin: 1rem 2rem;
        &:hover {
            background-color: #203A43;
            color: wheat;
        }

    
    }

}